@import "fonts.css";

*{
    margin: 0;
    padding: 0;
    font-size: 20px;
    background-color: black;
    color: white;
    font-family: "NotoSansDisplay",sans-serif;
    
}

.wrapper{
    display: flex;
}
img{
    max-width: 6em;
    height: auto;
}

.site-aside{
    flex: 0 1 40vw;
    height: 100vh;
    background-image: url("/images/photo-1585202900225-6d3ac20a6962.avif") ;
    background-size: cover;
    display: flex;
    align-items: flex-start;
    
}

.pic{
    margin-top:5em;
    display: flex;
    align-items: center;
    flex:1 1 100vw;
    background-color: black;
    color: white;
    background-color: rgba(0, 0, 0, 0.5); /* Background color with the desired opacity */

    justify-content: center;
}


.pic *{
    background-color: rgba(0, 0, 0, 0); /* Background color with the desired opacity */
    color: white;
}

.pic>p{
font-family: "Norse-Bold";
font-size: 6em;
}

.content-section{
    flex:1 1 60vw;
    display:flex;
    flex-wrap: wrap;
    
}


.header-text{
    background-color: #F9FAFB;
    height: 23.6em;
    flex:1 1 100%
}

.header-text *{
    background-color:inherit;
    color: black;
    font-size: 1em;
}

.header-text:first-child{
    width: 35ch;
}