@import "fonts.css";

*{
    margin: 0;
    padding: 0;
    font-size: 20px;
    background-color: #FFFFFF;
    color: black;
    font-family: "NotoSansDisplay",sans-serif;
    
}

body{
    background-color: black;
}
.wrapper{
    
    display: flex;
    gap: 1em;

}
img{
    max-width: 6em;
    height: auto;
}

.site-aside{
    flex: 0 1 40vw;
    height: 100vh;
    background-image: url("/images/photo-1585202900225-6d3ac20a6962.avif") ;
    background-size: cover;
    display: flex;
    align-items: flex-start;
    
}

.pic{
    margin-top:5em;
    display: flex;
    align-items: center;
    flex:1 1 100vw;
    background-color: black;
    color: white;
    background-color: rgba(0, 0, 0, 0.5); /* Background color with the desired opacity */

    justify-content: center;
}


.pic *{
    background-color: rgba(0, 0, 0, 0); /* Background color with the desired opacity */
    color: white;
}

.pic>p{
font-family: "Norse-Bold";
font-size: 6em;
}

.content-section{
    background-color: white;
    flex:1 0 0vw;
    display:flex;
    flex-wrap: wrap;
    align-content: flex-start;
}


.header-text{
    background-color: #F9FAFB;
    min-height: 17.6em;
    flex:1 1 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}



.header-text *{
    background-color:inherit;
    color: black;
    font-size: 1.1em;
    text-align: left;
    width: 65ch;
    font-weight: 600;
}

.header-text > p > em{
    font-size: 1em;
}

.header-text>p:nth-child(1){
    max-height: 5.6em;
    padding-top: 6em;
    flex: 1 1 100%;
    padding-left: 1em;
}

.header-text>p:nth-child(2){
    flex-shrink: 1;
    padding-left: 1em;
}

.form-group:after{
    content: "";
    display:table;
    clear:both;
  } 
  .form-group-half{
    padding:0 0.3em 1em 0.3em;
    float:left;
    width:20em;
  }
  .form-group-half > label{
    font-size: 0.6em;
    display:block;
    text-transform: uppercase;
    font-weight: 800;
    
  }
  .form-group-half > input {
    width:100%;
    border-radius: 4px;
    border:2px solid #E5E7EB;
  }

  .formInfo>p{
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 2em;
    padding:0 1em;
    
  }

  #accBtn{
    font-size: 0.9em;
    background-color: #596D48;
    color: #FFFFFF;
    font-weight: 800;
    border-radius: 8px;
    padding: 0.7em 2.5em;
    margin-top: 1em;
    margin-bottom: 2em;
    margin-left: 2em;

  }

.buttonDiv{
    min-height: 14.9em;
    margin-left: 0.4em;
}
.buttonDiv>p{
    margin-left: 1.9em;
}

#loginLink{
    color: #596D48;
    outline: none;
}


input:focus{
outline: none;
border:2px solid #1D4ED8
}

.form-group-half>input:user-valid{
    outline: none;
    border:2px solid green
}
.form-group-half>input:user-invalid{
    border:2px solid red

}

.error-msg{
    color: red;
    font-size: 0.7em;
}








